.CategoryInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.CategoryInfo h2 {
    color: var(--red01);
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: 700;
}

.CategoryInfo p {
    color: var(--red01);
    font-family: "Times New Roman";
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-align: right;
}