.footer {
    width: 100%;
    height: 180px;
    background: var(--red02);

    display: flex;
    justify-content: center;
    align-items: center;     
}

.link-wrapper {
    display: flex;
    gap: 150px;
    font: var(--times-bold-20px);
    color: var(--white);
    cursor: pointer;
}