.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
}

.content {
        flex: 1;
        width: 100%;
        max-width: 1076px; /* 최대 너비 유지 */
        margin: 20px auto; /* 가운데 정렬 */
}